@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    background-color: #ECECEC;
    font-family: 'Playfair Display', serif;
}

.navbar {
    height: 10vh;
    background-color: black;
    color: white;
}

.content {
    height: 90vh;
}

.sidebar {
    background-color: #F3D250;
    height: 100%;
    padding: 25px 15px;
    text-align: center;
}

.test_box2 {
    background-color: #90CCF4;
    padding: 25px 15px;
}