@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
body {
    background-color: #ececec;
    font-family: "Comfortaa", cursive;
}

a:hover {
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.box2 {
    width: 100%;
    background-color: #ffffff;
    padding: 0;
}